/* colours used:
Primary colour: #F4F1E9
Secondary colour: #FABD19, #1E1E1E 
*/

/* Global */
* {
  box-sizing: border-box;
}

body{
    background-color: #F4F1E9;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    color: #1e1e1e;
}

/* Typography */
h1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    /* 41px divided by 16 */
    font-size: 2.56em;
    line-height: 1.32em;
  }
  
  h2 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    /* 34px divided by 16 */
    font-size: 2.12em;
    line-height: 40px;
  }
  
  h3 {
    font-family: 'Raleway', sans-serif;
    /* 24 divided by 16 */
    font-size: 1.5em;
    font-weight: 600;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    /* 20 divided by 16 */
    font-size: 1.25em;
    font-weight: 500;
  }
  img {
    width: 100%;
  }

  /*Links and Buttons*/
  a {
    font-weight: bold;
    color:#1e1e1e;
    text-decoration: none;
}

a:hover {
    color: #FABD19
}

.button {
    background-color:#1e1e1e;
    color: #ffffff;
    padding:10px 20px 11px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;

}

.button:hover {
  background-color: #FABD19;
  color: #ffffff;
  font-weight:bold
}


  /*Layout Columns/Rows */

  .container {
    padding: 16px 16px;
  }

  .row {
    margin: 24px 0; /* 24px top and bottom, 0 left and right */
  }

  #work .row {
    margin: 40px 0; /* 40px top and bottom, 0 left and right */
  }

  .row::after {
    content: "";
    clear: both;
    display: table
  }

  /*Header*/
  header {
    width: 100%;
    padding:5px 5px; /* top-bottom left-right*/
    background-color: #FFFDF8;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    
}

.logo {
    width: 300px;
    float: left;
}

header nav {
     float: right;
    margin-top: 35px;
}

header nav ul {
    padding: 0;
    list-style-type: 0;
  margin: 0;
    
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

  /*Main*/

  .hero-container {
    width: 100%;
  }
  .hero-content {
    padding: 200px 0px;
    text-align: center;
  }

  .hero {
    background-image: url("../img/backgroundheader.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    padding: 120px 0;
    margin-bottom: -100px;
    min-height: 100vh;
  }

  main {
    margin-top: 100px ;
    padding: 40px 20px;
  }


  .about-picture {
    height: 480px;
    width: 500px;
    padding: 0px 40px 0px 10px;
    margin-bottom: 80px;
    float: left;
}

.b2{
  padding:10px 40px 11px 40px;
}

  /*Footers*/
  footer {
    background-color: #FFFDF8;
    padding: 40px 20px;
    text-align: center;
}

footer i {
    font-size: 30px;
    margin:0 10px
}


.social-contact {
    margin: 50px 0;
}

.social-contact a {
margin: 0px 10px;
    
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
      padding: 20px 0 13px;
    }
  
    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

   .hero {
      background-size: cover;
    }

    .hero span {
      display: block;
    }
  
    .col-md-6 {
      width: 50%;
    }

}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

.hero {
  background-size: cover;
}
  .hero span {
    display: block;
  }

  .col-lg-7 {
    width: 58%;
  }

  .col-lg-5 {
    width: 41%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}